.bg-menu{
  background-color: black;
}

.text-nav{
  color: white;
}

.title-groupe{
  color: rgb(231, 231, 24);
}

.containerDrop {
  width: 100%;
  height: 50px;
}

.imgDropzone{
  width: 150px;
}

.hoverP:hover {
  cursor: pointer;
}

.jurado {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.bg-gris {
  background-color: grey;
  border-radius: 10px;
}

.mt-10 {
  margin-top: 80px;
  margin-bottom: 20px;
}