.bg-menu{
  background-color: black;
}

.text-nav{
  color: white;
}

.title-groupe{
  color: rgb(231, 231, 24);
}

.title-doc {
  font-size: 30px;
}

.containerDrop {
  width: 100%;
  height: 50px;
}

.imgDropzone{
  width: 150px;
}

.botonEliminar {
  width: 10px;
  height: 10px;
  text-align: center;
}

.hoverP:hover {
  cursor: pointer;
}

.jurado {
  font-size: 14px;
  margin-top: 15px;
  padding: 10px;
  font-weight: bold;
}

.inputJurado {
  width: 80px;
}

.inputJurado2 {
  width: 100px;
}

.bg-gris {
  background-color: grey;
  border-radius: 10px;
}

.mt-10 {
  margin-top: 100px;
  margin-bottom: 20px;
}