.bg-menu{
  background-color: black;
}

.text-nav{
  color: white;
}

.title-groupe{
  color: rgb(231, 231, 24);
}

.containerDrop {
  width: 100%;
  height: 50px;
}

.imgDropzone{
  width: 150px;
}

.hoverP:hover {
  cursor: pointer;
}